.id1 {
    width: 200px;
    height: 100px;
    background-color: magenta;
    transition: margin-left 0.5s ease;
}

.id1:hover {
    margin-left: 50px;
}

.id2 {
    width: 200px;
    height: 100px;
    background-color: blue;
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
    0% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}